/*Timestamp Update*/

* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

.container {
        width: 100%;
   background-color: #062354;
   margin: 0 ;
   padding: 0;
        /*display: inline-block;
   text-align:center;*/
   display:table-cell;
   vertical-align:text-top;
   float:left;
   clear:both;
}
.innerRow{
        width: 100%;
   background-color: #062354;
   margin: 0 auto;
        /*display: inline-block;
   text-align:center;*/
   display:table-cell;
   vertical-align:text-top;
   /*float:left;
   clear:both;*/
}
.col1 {
        min-width: 100%;
   margin: 0 auto;
   background-color:midnightblue;
   display:table-cell;
   vertical-align:text-top;
}

.col2 {
        width: 50%;
   margin: 0 auto;
   background-color:lightseagreen;
   display:table-cell;
   vertical-align:text-top;
}

.col75 {
    width: 75%;
   margin: 0 auto;
   background-color:lightseagreen;
   display:table-cell;
   vertical-align:text-top;
}

.col4 {
    min-width: 25%;
   margin: 0 auto;
   background-color:lightseagreen;
   display:table-cell;
   vertical-align:text-top;
}

#title {
    color: white;
    font-family: "Futura";
    text-align: left;
    font-size: 64px;
    margin: 0 auto 10px 10px;
    display:inline-block;
}

ul {
    text-align: center;
    
}



li {
    margin: 3em;
    background-color: white;
    font-family: "Futura";
    font-size: 20px;
    display: inline;
}

#slogan {
    color: white;
    font-family: "Futura";
    text-align: left;
    font-size: 32px;
    margin: 0 auto 10px 10px;
    display:block;
    float:left;
    clear:both;

}

.element{
   background-color:white;
   height: auto;
   display:block;
   vertical-align:text-top;
   margin: 5px;
   border: 1px solid;
   border-radius: 5px;
   padding: 10px;
}
.hline_thinOrange{
   min-width: 100%;
   height:2px;
   background-color:lightseagreen;
   display:block;
}
.hline_thickGreen{
   min-width: 100%;
   height:10px;
   background-color:black;
}

#footer {
    /*text-align: center;*/
    font-size: 20px;
    display:inline-block;
}

/*Nav Bar Stuff*/
.navContainer {
	width: 100%;
    background-color: lightseagreen;
    margin: 0px;
    padding: 0px;
    /*padding: 5px;*/
	/*display: inline-block;
    text-align:center;*/
    display:table-cell;
    vertical-align:text-top;
    float:left;
    clear:both;
}
/*Footer format*/
.col2 ul a li{





}

/* dropdown menu classes */
/* Dropdown Button */
/* Dropdown Button */
.dropbtn {
    font-weight:500;
    background-color: #062354;
    color: white;
    padding: 6px 16px 6px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin: 0;
    padding:0;
    background-color:#062354;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    font-family:'Futura';
    display: none;
    position: absolute;
    background-color: #062354;
    /*background-color: red;*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin:0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 6px 16px 6px 16px;
    margin:0;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: lightseagreen}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    /*background-color: #3e8e41;*/
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: lightseagreen;
}

.hline_thinwhite{
    min-width: 100%;
    height:2px;
    margin:0;
    padding:0;
    background-color:white;
    display:block;
}
.hline_thinestwhite{
    min-width: 100%;
    height:1px;
    margin:0;
    padding:0;
    background-color: white;
    display:block;
}
.hline_navy{
    min-width: 100%;
    height:10px;
    background-color:navy;
}


/*Begin lefthand nav homepage styles*/

/*Alert elements*/
.alertContainer {
	width: 100%;
    background-color: none;
    margin: 0;
    /*padding: 5px;*/
	/*display: inline-block;
    text-align:center;*/
    display:table-cell;
    vertical-align:text-top;
    float:left;
    clear:both;
    text-decoration:none;
}
.elementAlert {
    color: white;
    height: auto;
    display: block;
    vertical-align: text-top;
    margin: 5px 0px 5px 0px;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Segoe UI';
    text-decoration: none;
    background:
    /* top, transparent red, faked with gradient */
    linear-gradient( rgba(0, 0, 128, 0.45), rgba(0, 0, 128, 0.45) ),
    /* bottom, image */
    url('images/divingOutfielder0.jpg');

}
.elementAlert a{
    text-decoration:none;
    color:#001200; 
}

.alertH1{
    color: white;
    vertical-align:top;
    display:inline-block;
    font-weight: bold;
    margin-left: 5px;
    text-decoration:none;
}

.alertMediaFrame {
    width: 64px;
    height: 36px;
    display: inline-block;
    background-color: none; 
    margin:5px;
    text-decoration:none;
    /*background-image: url('../~christ48/webdes/images/cameraClip.png');*/
}
.alertCol75 {
	width: 100%;
    color: white;
    font-size:small;
    padding: 5px;
    background-color:none;
    display:table-cell;
    vertical-align:top;
    text-decoration:none;
}

.alertCol4 {
	min-width: 25%;
    margin: 0 auto;
    background-color:none;
    display:table-cell;
    vertical-align:top;
    text-decoration:none;
}
.alertCol1 {
	min-width: 100%;
    margin: 0 auto;
    background-color:none;
    display:table-cell;
    vertical-align:top;
}

#construction {
    text-align: center;
    font-size: 40px;
    margin: auto;
    width: 1000px;
    height: 600px;
    top: 100px;
    text-decoration: none;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    height: 400px;
    background-color: red;
}

